<section style="background-color: #eee;">
    <div class="container py-5">
    {{#if items.length}}
        {{#each items}}
            <div class="row justify-content-center mb-3">
                <div class="col-md-12 col-xl-10">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 col-lg-3 col-xl-3 mb-4 mb-lg-0">
                                    <img src="{{this.foto}}" class="w-100  rounded mx-auto d-block" />
                                </div>
                                <div class="col-md-6 col-lg-6 col-xl-6">
                                    <h5>{{this.nombre}}</h5>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>Código: {{this.codigo}}</span>
                                        <span class="text-primary"> • </span>
                                        <span>Stock: {{this.stock}} unidades</span>
                                    </div>
                                    <p class="mt-4 mb-4 mb-md-0 small">
                                        {{this.descripcion}}
                                    </p>
                                </div>
                                <div class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start">
                                    <div class="d-flex flex-row justify-content-end mb-1">
                                        <h4 class="mb-1 me-1">$ {{decimal this.precio}}</h4>
                                    </div>
                                    <div class="d-flex flex-column mt-4">
                                        <button class="btn btn-primary btn-sm add-button" type="button" data-id="{{this.id}}">Agregar al carrito</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-info" role="alert">Sin productos cargados</div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}
    </div>
</section>