
<section style="background-color: #eee;" class="rounded border">
    <div class="container py-5">
    {{#if items.length}}
        {{#each items}}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-md-6 col-lg-5 col-xl-3 mb-4 mb-lg-0">
                                <img src="{{this.foto}}" class="w-50 rounded mx-auto d-block" />
                            </div>
                            <div class="col-md-6 d-flex flex-wrap col-lg-7 col-xl-9 mb-4 mb-lg-0">
                                <div class="col-12 col-xl-6">
                                    <h5>{{this.nombre}}</h5>
                                    <div class="mt-1 mb-0 text-muted small">
                                        <span>Código: {{this.codigo}}</span>
                                        <span class="text-primary"> • </span>
                                        <span>Stock: {{this.stock}} unidades</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-xl-3 d-flex justify-content-end">
                                    <div class="align-self-center p-2">
                                    <h4 class="p-2 mb-1 me-1">$ {{decimal this.precio}}</h4>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-xl-3 my-auto">
                                    <div class="d-flex justify-content-end ">
                                    <input type="button" class="upd-button btn btn-warning p-2" value="Modificar" data-id="{{ this.id }}">&nbsp;
                                    <input type="button" class="remove-button btn btn-danger p-2" value="Eliminar" data-id="{{ this.id }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    {{else}}
        <div class="row justify-content-center mb-3">
            <div class="col-md-12 col-xl-10">
                <div class="card">
                    <div class="card-body">
                        <div class="alert alert-info" role="alert">Sin productos cargados</div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

    </div>
</section>